---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Page Not Found" description="That page doesn't exist.">
  <main class="page-modules">
    <h1 class="page-title">Page Not Found</h1>
    <div class="text-block">
      <div>Sorry, that page doesn't exist (or has moved).</div>
      <div><a href="/">Back to the home page</a></div>
    </div>
  </main>
</Layout>
