---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - About Me" active="about-me">
  <main class="page-modules">
    <div class="text-block">
      <div>
        I'm Malik Danab, a Gameplay Programmer and Technical Designer who just finished my degree
        in Arts, Technology, and Emerging Communication (ATEC) at UT Dallas with a Concentration in
        Animation &amp; Game Design. I've spent the last 9 years moving from simple scripts to
        complex systems architecture, with a heavy emphasis on C#, C++, Unity, and UE5.
      </div>
      <div>
        My background allows me to bridge the gap between high-level design and low-level logic.
        Whether I'm engineering a custom Entity Component System (ECS) for my solo project
        Foursight or implementing immersive sound systems for the psychological horror game InVein,
        my goal is to build mechanics that are as stable as they are responsive.
      </div>
      <div>
        When I'm not in an IDE, I'm likely "researching game design" by playing Magic: The
        Gathering, Slay the Spire, or playing DND.
      </div>
    </div>
  </main>
</Layout>
