---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Austere" active="projects">
  <main class="page-modules">
    <div class="text-block">
      <div>
        Description: A turn-based Hexagon Grid X-Com esc, RPG Game about collecting a group of
        characters in order to explore the Dungeon so that you don't lose your sanity. A focus on
        elemental Interactions, an action-based economy, and a diversity of Builds when it comes to
        equipment and party composition.
      </div>
      <div>
        Contributions: Game Design, UI, Game Mechanics, Abilities, Gameplay, Hex Movement, Enemy
        AI, Procedural Terrain, Models.
      </div>
      <div>Engine and Tools: Unreal Engine, Photoshop, Houdini, Maya</div>
    </div>
  </main>
</Layout>
