---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Ephemeral Dust" active="projects">
  <main class="page-modules">
    <div class="module-columns">
      <div class="text-block">
        <div>
          Description: A Co-op-based Action Puzzle game similar to Legend of Zelda &amp; Shadow of
          the Colosus, where you and a friend explore a post-apocalyptic world, defeating Evil
          Demigods in order to save the world.
        </div>
        <div>
          Contributions: Character Abilities, Level Design, Boss Design, Enemy AI, Movement, UI.
        </div>
        <div>Engine &amp; Tools: Unity, Photoshop, GitHub.</div>
      </div>
      <div class="image-block">
        <img src="/images/ephemeral-dust-1.png" alt="Ephemeral Dust" />
      </div>
    </div>
  </main>
</Layout>
