---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Intaglio" active="gamejams">
  <main class="page-modules">
    <div class="module-columns">
      <div class="text-block text-left">
        <div>
          Description: A game based around the idea of optimizing pathing, similar to Speedrunning.
          The Player completes a level three times with three different abilities(colors). leave a
          trail in their wake. Using all the abilities in the last run to finish as fast as
          possible.
        </div>
        <div>
          Contributions: Game Design, Paint System, which enabled the Player to edit certain
          objects ' meshes to paint their path, similar to Splatoon. Level System &amp; Menus.
          Abilities from the Paints that gave the player abilities.
        </div>
        <div>Engine And Tools: Unreal Engine, Photoshop, and GitHub.</div>
      </div>
      <div class="image-block">
        <a href="https://zyrthal.itch.io/intaglio" target="_blank" rel="noopener">
          <img src="/images/intaglio-1.png" alt="Intaglio" />
        </a>
      </div>
    </div>
  </main>
</Layout>
