---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Shroom Boom" active="projects">
  <main class="page-modules">
    <div class="module-columns">
      <div class="text-block">
        <div>
          Description: The story is about escaping a collective fever dream that the myceloid race
          shares. It is only through a desire to seek the truth and the will to fight against the
          chaos created from being in a state of a perpetual high that the player is finally able
          to step outside their mushroom colony and experience reality. The game is a Metroidvania
          Hollow Knight esc Exploration game where the main mechanic is moving via your jetpack.
        </div>
        <div>
          Contributions: Game Design, Character Abilities, Menus, Enemy AI &amp; Level Design, Game
          Design, and Story.
        </div>
        <div>Engine And Tools: Unity, Photoshop</div>
      </div>
      <div class="image-block">
        <img src="/images/shroom-boom-1.gif" alt="Shroom Boom" />
      </div>
    </div>
  </main>
</Layout>
