---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Surviving Vampire" active="gamejams">
  <main class="page-modules">
    <div class="module-columns">
      <div class="text-block">
        <div>
          Description: A Tower defense game about being a Vampire and defending your house during
          the day from paladins. Place Towers and Collect Blood at Knight, and let your Towers do
          your work during the day.
        </div>
        <div>
          Contributions: Game Design, Tower AI, Placement, Economy, Menu, and Placement. Enemy AI
          and Map.
        </div>
        <div>Engine and Tools: Unity &amp; Photoshop, GitHub.</div>
      </div>
      <div class="image-block">
        <img src="/images/surviving-vampire-1.png" alt="Surviving Vampire" />
      </div>
    </div>
  </main>
</Layout>
