---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Malik Danab - Wildfire Warfare" active="gamejams">
  <main class="page-modules">
    <div class="module-columns">
      <div class="text-block">
        <div>
          Description: The forest is on fire! Take command of your units to stop the wildfire from
          spreading and "keep it small" in this RTS puzzle game.
        </div>
        <div>
          Contributions: Game Design, Menus, Level Builder, Fire Spreading System, Enemy AI, Player
          Movement, and abilities.
        </div>
        <div>Engine And Tools: Unity, Photoshop, and GitHub.</div>
      </div>
      <div class="image-block">
        <a href="https://web04.itch.io/wildfire-warfare" target="_blank" rel="noopener">
          <img src="/images/wildfire-warfare-1.png" alt="Wildfire Warfare" />
        </a>
      </div>
    </div>
  </main>
</Layout>
